.red {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.green {
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.purple {
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.blue {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.orange {
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.lightgreen {
    background-color: lightgreen;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.brown {
    background-color: #734d26;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.yellow {
    background-color: #ffeb99;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}

.grey {
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    border: solid 4px black;
}










/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}